/* ====================== SPACING ========================== */

/* =============== MARGINS ================= */

.mb__1 {
  margin-bottom: 0.8em;
}

.mb__2 {
  margin-bottom: 1.3em;
}

.mb__3 {
  margin-bottom: 1.6em;
}

.mb__4 {
  margin-bottom: 1.9em;
}

.mt__1 {
  margin-top: 1.3em;
}

.mt__2 {
  margin-top: 1.6em;
}

.mt__3 {
  margin-top: 1.9em;
}

.m-auto {
  margin: auto;
}

.mr__1 {
  margin-right: 0.8em;
}

.ml__l {
  margin-left: 0.8em;
}

/* =============== PADDINGS ================= */

.pb-1 {
  margin-bottom: 0.8em;
}

.pb-2 {
  margin-bottom: 1.3em;
}

.pb-3 {
  margin-bottom: 1.6em;
}

.pt-1 {
  margin-top: 1.3em;
}

.pt-2 {
  margin-top: 1.6em;
}

.pt-3 {
  margin-top: 1.9em;
}

.ps {
  padding: 0.8em;
}

.pm {
  padding: 1.3em;
}

.label {
  @include label-animation-effect;

  width: 20px;
  padding: 5px;
  color: $white-color;
  background-color: #19539eda;
}

.rounded {
  border-radius: $rounded;
}

.rounded-m {
  border-radius: $rounded-m;
}

.rounded-l {
  border-radius: $rounded-l;
}

.circle {
  border-radius: $circle;
}


.text__center {
  text-align: center;
}

.text__end {
  text-align: right;
}

.text__start {
  text-align: left;
}

/******  media queries  *****/

/******  media queries  *****/
@media (min-width: $md) {
  .ml__md {
    margin-left: 1.8em;
  }
}
