/* ====================== SPACING ========================== */

/* =============== MARGINS ================= */
.m__0{
  margin: 0 !important;
}
.mb__1 {
  margin-bottom: 0.8em;
}

.mb__2 {
  margin-bottom: 1.3em;
}

.mb__3 {
  margin-bottom: 1.6em;
}

.mb__4 {
  margin-bottom: 1.9em;
}
.mb__5 {
  margin-bottom: 2.3em;
}

.mt__1 {
  margin-top: 1.3em;
}

.mt__2 {
  margin-top: 1.6em;
}

.mt__3 {
  margin-top: 1.9em;
}

.m-auto {
  margin: auto;
}

.mr__1 {
  margin-right: 0.8em;
}

.ml__l {
  margin-left: 0.8em;
}

/* =============== PADDINGS ================= */
.p0{
  padding: 0 !important;
}
.pb-1 {
  margin-bottom: 0.8em;
}

.pb-2 {
  margin-bottom: 1.3em;
}

.pb-3 {
  margin-bottom: 1.6em;
}

.pt-1 {
  margin-top: 1.3em;
}

.pt-2 {
  margin-top: 1.6em;
}

.pt-3 {
  margin-top: 1.9em;
}

.ps {
  padding: 0.8em;
}

.pm {
  padding: 1.3em;
}

.label {
  @include label-animation-effect;

  width: 20px;
  padding: 5px;
  color: $white__color;
  background-color: #19539eda;
}

.rounded {
  border-radius: $rounded;
}

.rounded__md {
  border-radius: $rounded__md;
}

.rounded__lx {
  border-radius: $rounded__lx;
}

.rounded__left {
  border-radius: $rounded__left;
}

.circle {
  border-radius: $circle;
}

.text__center {
  text-align: center;
}

.text__end {
  text-align: right;
}

.text__start {
  text-align: left;
}
.text__white {
  color: white;
}

.text__primary {
  color: $primary__color;
}
/* Style for the loading spinner */
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-top: 4px solid #007bff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/******  media queries  *****/

/******  media queries  *****/
@media (min-width: $md) {
  .ml__md {
    margin-left: 1.8em;
  }
}
