@mixin hover-effect($color) {
  &:hover {
    color: lighten($color, 20%);
    outline: none;
  }
}

@mixin hover-effect-inverse {
  &:hover {
    opacity: 0.5;
    transform: translateY(-15px);
  }
}

@mixin label-animation-effect {
  &:hover {
    color: $primary__color;
    opacity: 0.5;
  }
}

@mixin button-display {
  display: inline-block;
  font-size: large;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  outline: none;
  transition: 0.2s opacity;
  
}

@mixin generater($property, $start, $end) {
  @for $i from $start through $end {
    #{$property}#{$i} {
      #{$property}: #{$i}px;
    }
  }
}
