
<footer class="footer">
    <div class="container text__center">
    <p>Find me on</p>
    <ul class="footer__nav">
        <li>
          <a href="https://github.com/AlejandroBryan" class="social github" target="_blank" rel="noopener"></a>
        </li>
        <li>
          <a href="https://twitter.com/AlejandroBryan0" class="social twitter" target="_blank" rel="noopener"></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/alejandro-bryan" class="social linkedin" target="_blank" rel="noopener"></a>                   
        </li>
    </ul>
    <a class="text__link text__primary" href="/impressum.html">impressum</a>
 </div>
</footer>

<script type="module" src="/assets/js/index.min.js"></script>
 
</body>
</html>