<div class="image__container">
   <a href="{{ include.url }}" target="_blank">
      <img
         src="{{ site.github.url }}/assets/images/{{ include.image }}"
         alt="{{page.title}} {{site.title}}"
         class="image rounded"
      />
      <div class="overlay">
         <div class="text btn primary rounded">
            {% if include.text %} {{ include.text }}
            <i class="fas fa-arrow-right" aria-hidden="true"></i> {% else %} View
            Demo <i class="fas fa-arrow-right" aria-hidden="true"></i>
            {% endif %}
         </div>
      </div>
   </a>
</div>
   <a href="{{page.source-code}}" target="_blank">
      <i class="fa-brands fa-github" style="width: 32px;" aria-hidden="true"></i>
      Source's code
   </a>

<div>
   <div>
      <i class="fa-solid fa-screwdriver-wrench" style="width: 32px;"></i>
   </div>
   
   {% for stack in page.stacks %}

   <span class="badge {{stack}}" > {{ stack }} </span>

   {% endfor %}
</div>
