<section>
  <div class="grid">
    {% for project in site.data.settings.projects %}

    <div class="card grid__item rounded">
      <figure class="overlay">
        <img src="{{site.github.url}}/assets/images/projects/{{project.url}}/thumbnail.png" alt="" />
      </figure>
      <div class="card__body mb__2">
        <h5 class="card__title mb__1">{{ project.name }}</h5>
        <p class="card__text text__white">
          {{project.description}}
        </p>
        <a href="{{ site.github.url }}/projects/{{ project.url }}" class="btn secondary rounded">See More</a>
      </div>
    </div>
    {% endfor %}
  </div>
</section>
