.badge {
   position: relative;
   display: block;
   padding: 4px 10px;
   font-size: 12px;
   font-weight: 900;
   color: #111111fa;
   text-align: center;
   margin-bottom: 10px;
   text-transform: uppercase;
   letter-spacing: .3px;
   border-radius: $rounded;
   &:hover{
      opacity: .7;
      background: url("../../assets/images/stroke_bg.svg") no-repeat left / contain;
   }
}
