/* ====================== BUTTONS ========================== */

.btn {
  @include button-display;

  padding: .3em 2em;
  font-weight: $font-large;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .1em;
  border: 0;

  &:hover {
    opacity: 0.8;
  }
}

.btn__icons{
  @include button-display;
}

.large{
  padding: 1em 3em;
}

.text__link {
  @include button-display;

  display: inline;
  width: fit-content;
  border-bottom: 1px solid #0e0d0dad;
 
}

.primary {
  color: $white-color;
  background-color: $primary-color;
}

.secondary {
  color: $white-color;
  background-color: $secondary-color;
}

.w-100{
  width: 100%;
}