.card {
    position: relative;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
    .card__body {
        flex: 1 1 auto;
        padding: 10px;
        overflow-y: auto; 
        z-index: 2; 
     }
     .card__title{
        text-transform: capitalize;
     }
     .card__text{
        line-height: 1.4;
        margin-top: 15px;
       }

 }
.border__card{
   border: .6px solid #294c928b;

}

 @media all and (min-width: $md) {

 
    
 }