// ====================== FOOTER ==========================

.footer {
  width: 100%;
  padding: 12px 10px;
  margin-top: 25px;
  margin-bottom: 0;
  overflow: hidden;
}

.footer__nav {
  li {
    display: inline-block;

    .social {
      @include hover-effect-inverse;

      display: inline-block;
      width: 65px;
      height: 65px;
      margin-left: 5px;
      text-indent: -9999px;
      background-size: 48px 48px;
      transition: all 0.7s;
    }
  }
}

.github {
  background-image: url('../images/github_icon.svg');
  background-repeat: no-repeat;
}

.linkedin {
  background-image: url('../images/linkedin_icon.svg');
  background-repeat: no-repeat;
}

.twitter {
  background-image: url('../images/twitter_icon.svg');
  background-repeat: no-repeat;
}
