/* ====================== FORMS ========================== */

.contact__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-bottom: 1.5em;

  div {
    position: relative;
      
    }

    label{
      font-size: 1.2em;
      font-weight: 600;
      color: #2b2b2bee;
      letter-spacing: .1em;
    }

  fieldset {
    padding: 0;
    margin: 0;
    border: 0;

    legend {
      margin-bottom: 1.5em;
      font-size: 1.9em;
      font-weight: 600;
      color: #222e;
    }
  }

  .form__control {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1.3em;
    margin: 0 auto 25px;
    border: 0;
    border-radius: 6px;
    outline: none;
    box-shadow: 2px 2px 2px 1px #294c9256;

    &:focus {
      background-color: #2364c50d;
    }
  }

  input::placeholder,
  textarea::placeholder{
      color:#3761d3b4;

    
  }
}
