/* ====================== GRID AND FLEXBOX LAYOUT ========================== */

.container {
   width: 100%;
   min-width: 320px;
   min-height: 60%;
   padding: 0 10px;
   overflow: auto;
}

/* ======== FLEXBOX ========== */

.row {
   display: flex;
   flex-direction: column;
   padding: 1em 10px;
}
.justify__center {
   justify-content: center;
}

[class^='col'] {
   flex-basis: 100%;
   min-height: 25px;
   padding: 10px;
   margin-top: 10px;
   border-radius: 5px;
}

.d__column{
flex-direction: column;
}


/* ======== GRID ========== */

@supports (display: grid) {
   .grid {
      position: relative;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 20px;
      margin: 0;

      .grid__item {
         position: relative;
         display: flex;
         width: auto;
         height: 100%;
         margin: 0;
         overflow: auto;
         background-color: $primary__color;

         .card__title {
            z-index: 2;
            align-self: flex-start;
            padding: 0.5rem;
            font-size: 2rem;
            font-weight: 600;
            line-height: 1;
            color: #ffffffe6;
         }
      }

      .overlay {
         position: absolute;
         top: 0;
         left: 0;
         bottom: 0;
         right: 0;
         margin: 0;
         overflow: hidden;
         z-index: 1;

         &:last-child {
            grid-row: auto / auto;
            grid-column: auto / auto;
         }
      }
   }
}
/* ====================  BREAK POINTS =================== */

@media all and (min-width: $md) {
   .grid {
      grid-template-columns: 1fr 1fr;
   }
}



@media (min-width: $xl) {
   .container {
      display: block;
      width: 75%;
      padding: 0;
      margin: 2em auto;
   }
  

   [class^='col'] {
      display: flex;
      justify-content: center;
      margin-top: 0;
      align-items: center;
   }

   [class^='col'] + [class^='col'] {
      margin-left: 10px;
   }
   .col__md__6 {
      flex-basis: 50%;
   }
}


@media (min-width: $xl) {
   .row {
      flex-direction: row;
   }

   .col__1 {
      flex-basis: 8.33%;
   }

   .col__2 {
      flex-basis: 16.67%;
   }

   .col__3 {
      flex-basis: 25%;
   }

   .col__4 {
      flex-basis: 33.33%;
   }

   .col__5 {
      flex-basis: 41.67%;
   }

   .col__6 {
      flex-basis: 50%;
   }

   .col__7 {
      flex-basis: 58.33%;
   }

   .col__8 {
      flex-basis: 66.67%;
   }

   .col__9 {
      flex-basis: 75%;
   }

   .col__10 {
      flex-basis: 83.33%;
   }

   .col__11 {
      flex-basis: 91.67%;
   }

   .col__12 {
      flex-basis: 100%;
   }

   .under__construction__icon {
      width: 100%;
      height: 600px;
   }
}

@media (max-width: $xl) {
.text__xs__center{
   text-align: center;
}
.align__self__center{
   align-self: center;
}
}