/* ====================== IMAGES ========================== */

svg,
img {
  display: block;
  width: 100%;
  height: 100%;
}

.bg__images{
   height: 100%;
   background-position: center center;
   background-repeat: no-repeat;
   background-size: auto 100%

}

.not__found__icon{
  width: 100%;
  height: 350px;

}

.contact__icons {
  border-radius: 50%;
  height: 45px;
  width: 45px;
}
.image__container {
	margin-bottom: 20px;
	position: relative;
	width: $full-width;
	&:hover {
		.overlay {
			opacity: 1;
		}
	}
	.image {
		display: block;
		height: auto;
		width: $full-width;
	}
	.overlay {
		background-color: rgba(255, 255, 255, 0.05);
		bottom: 0;
		height: 100%;
		left: 0;
		opacity: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: $full-width;
	}
	.text {
		-ms-transform: translate(-50%, -50%);
		color: rgb(255, 255, 255);
		font-size: 32px;
		font-weight: 700;
		left: 50%;
		position: absolute;
		top: 50%;
		transform: translate(-50%, -50%);
	}
}

.fa-github, .fa-screwdriver-wrench{
	font-size: 36px;
}