---
layout: default
---

<div class="mb__1">
    <h1>Background</h1>
</div>

<p>
  Welcome to the crossroads of artistry and innovation, where my journey as a sculptor transforms into a quest to become
  a successful full-stack web developer. This digital space is not just a portfolio; it's a narrative of transformation,
  creativity, and aspiration.
</p>
<figure>
  <img class="mb__3" src="/assets/images/a_bryan_master_pieces.png" alt="" />
  <figcaption class="mb__3">
    "Santos De Palos Miches" Solo exhibitions at
    <a href="https://www.ccp.org.do/" target="_blank" class="text__info">Centro Cultural Perello (CCP), Baní</a> in 2015
  </figcaption>
</figure>

<h3 class="mb__1">From Chisel to Keyboard</h3>
<p>
  My odyssey began in the tactile world of woodcarving, where I was not just a craftsman but a storyteller. Each piece
  of wood under my chisel was a silent narrative waiting to unfold. This creative journey was acknowledged with numerous
  awards and honors, reflecting my dedication and skill in wood sculpting.
</p>

<p>
  Galleries and international art exhibitions were my arenas, where I connected with diverse audiences and fellow
  artists. Beyond personal artistic pursuits, I engaged with NGOs and community projects, imparting my knowledge and
  passion to children. These experiences were foundational, embedding in me a deep appreciation for creativity,
  teaching, and community service.
</p>

<h3 class="mb__1">Embracing Change in Germany</h3>

<p>
  2018 marked a pivotal shift in my life's canvas. Relocating to Germany, I was inspired by a new environment of
  innovation and opportunity. This move ignited a quest for a career transformation, leading me to seek a path that
  harmonized my artistic soul with the thrill of technological innovation.
</p>

<h3 class="mb__1">My Journey into Web Development</h3>
<p>
  My incursion into web development began with self-guided exploration, diving into online tutorials. However, I soon
  realized the need for a more structured and comprehensive learning path. This led me to enroll in the Careerfoundry
  full-stack web development program, a decision that marked the beginning of a profound transformation.
</p>
<p>
  Under expert mentorship, I dived into the realms of HTML, CSS, JavaScript, and beyond. This wasn't merely learning but
  a process of reshaping my thinking and adapting my artistic vision to the logical elegance of code. Each line of code
  became a stroke of my digital brush, each completed project a testament to my growth and potential.
</p>

<section class="ml__1 mb__1">
  <p class="sub__heading">My toolbox contains:</p>
  <div class="section">
    <div class="section__heading">
      <p class="sub__heading">Frontend</p>
    </div>
    <div class="section__body">
      {% for stack in page.frontend %}
      <div class="badge {{stack}}">
        <span> {{stack}} </span>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="section">
    <div class="section__heading">
      <p class="sub__heading mt__1">Backend</p>
    </div>

    <div class="section__body">
      {% for stack in page.backend %}

      <div class="badge {{stack}}">
        <span> {{stack}} </span>
      </div>
      {% endfor %}
    </div>
  </div>

  <div class="section">
    <div class="section__heading">
      <p class="sub__heading mt__1">Tools</p>
    </div>
    <div class="section__body">
      {% for stack in page.tools %}

      <div class="badge {{stack}}">
        <span> {{stack}} </span>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<h3 class="mb__1">Looking</h3>
<p>
  As I continue to weave my path through the intricate web of full-stack development, my goal is to become a successful
  developer who brings a unique blend of artistic sensibility and technical expertise to the table. I aim to create
  digital experiences that are functional, efficient, aesthetically compelling, and user-friendly.
</p>

<p>
  I invite you to take a journey through my portfolio. Here, you'll find more than just projects; you'll discover a
  story of transformation, a blend of art and technology, and a vision of the future. Each project is a step toward my
  goal, and each challenge is an opportunity to grow. Join me in this ongoing narrative of learning, innovation, and
  creativity. Let's explore the possibilities at the intersection of art and technology and envision a future where
  beauty and functionality coexist seamlessly in the digital realm.
</p>
