---
layout: default
---
    <h1 class="mb-1">About me</h1>

    <p>
        I am a student at Carrerfoundry's Fullstack Web Developer program, so far I've been enjoying the Intro To Web development lesson  which consist of learning the semantic structure of the websites with Hyper Text Markup language (HTML) along with Cascading Style Sheet (Css) in order to build good looking and responsive layout and Why not? adding live and interaction with the most popular programming languages around the web JavaScript.

       
    </p>
    <p>
        Hello! My name is [Your Name], and I'm an aspiring junior web developer. I'm passionate about coding and have a strong background in HTML, CSS, and JavaScript. I'm excited to use my skills to design and build websites that are both visually and functionally appealing. I'm eager to learn and grow my skills even more, and I'm looking forward to this opportunity to be part of a great team. 
    </p>

    <p>Things that I enjoy doing are:</p>

    <ul>
        <li>Front-end development</li>
        <li>Back-end development</li>
        <li>Test driven development</li>
        <li>Climbing</li>
      </ul>

      <a href="#" class="btn primary rounded mt-1" download>Download my CV</a>

    <div class="row mt-2">
        <div class="col-12 ">
            <table>
                <caption>My background</caption>
                <thead>
                    <tr>
                        <th scope="col">Years</th>
                        <th scope="col">Role</th>
                        <th scope="col">Description</th>
                    </tr>

                </thead>
                
                <tbody>
                    <tr>
                        <td>2009 to 2015</td>
                        <td>Sculptor</td>
                        <td>
                            Running my own small business while enjoying the creative and pleasureful world of fine arts, it was great time to never forget 
                        </td>
                    </tr>
                    <tr>
                        <td>2016 to 2018</td>
                        <td>Entertainer</td>
                        <td>
                            I've used to entertain the guest through small talking, dancing and organizing the     activities the whole day in order to them busy. 
                        </td>
                    </tr>
                    <tr>
                        <td>2018 to Now</td>
                        <td>Service Technician</td>
                        <td>
                            Giving maintenance and replacing broken parts of cars, it's the most recent jobs that i've been doing and loving so far.
                        </td>
                    </tr>

                </tbody>
                
            </table>


        </div>
    </div>

    
    