---
layout: default
---

<h1 style="text-transform: capitalize">{{page.title}}</h1>
<section>
  <div class="row justify__center">
    <div class="col__6">
      <a class="btn__xl primary rounded w-100" href="/assets/files/alejandro_cv_en.pdf" download>
        <img class="resume__svg" src="/assets/images/english-svg.svg" alt="" /> download
      </a>
    </div>
  </div>

  <div class="row justify__center">
    <div class="col__6">
      <a
        class="btn__xl secondary rounded w-100"
        href="/assets/files/alejandro_cv_en.pdf"
        download
        style="pointer-events: none"
      >
        <img class="resume__svg" src="/assets/images/german-svg.svg" alt="" /> herunterladen
      </a>
    </div>
  </div>

  <div class="row justify__center">
    <div class="col__6">
      <a
        class="btn__xl primary rounded w-100"
        href="/assets/files/alejandro_cv_en.pdf"
        download
        style="pointer-events: none"
      >
        <img class="resume__svg" src="/assets/images/spanish-svg.svg" alt="" /> descargar
      </a>
    </div>
  </div>
</section>
